include *.md

include LICENSE
include *.txt
include *.yaml
include Makefile
include tox.ini
include .coveragerc
include .flake8
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude .editorconfig

recursive-include docs *.ipynb
recursive-exclude * .ipynb_checkpoints/*
recursive-exclude docs/_build *
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include yt_xarray *.py
