include *.md
recursive-include examples *.ipynb
recursive-exclude examples .ipynb_checkpoints *.ipynb
include LICENSE
include *.txt
include *.yaml
include Makefile
include tox.ini
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude .editorconfig

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
