flake8==6.0.0 # keep in sync with .pre-commit-config.yaml
mccabe~=0.6.1
pycodestyle~=2.6.0
pyflakes~=2.2.0
isort==5.12.0   # keep in sync with .pre-commit-config.yaml
black==22.8.0 # keep in sync with .pre-commit-config.yaml
flake8-bugbear
