name: Run tests

on: 
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: ${{ matrix.platform }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup yt_xarray
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[full,test]
    - name: List installed deps
      run: pip list
    - name: Run Tests
      run: pytest --cov=./ --cov-report=html --color=yes yt_xarray

    - name: Upload coverage report
      if: (matrix.platform == 'ubuntu-latest' && matrix.python-version == '3.11')
      uses: actions/upload-artifact@v5
      with:
          name: coverage-report
          path: htmlcov/*
