name: Run tests

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements_dev.txt
    - name: Setup yt_xarray
      run: |
        python -m pip install -e .
    - name: Run Tests
      run: pytest --cov=./ --cov-report=xml:coverage/coverage.xml

    # https://github.com/marketplace/actions/codecov#example-workflowyml-with-codecov-action
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        directory: ./coverage/
